<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <h3><%= videodata.categoryName%></h3>
  <url>
    <%videodata.categories.forEach(function(item){%>
          <li><%= item.categoryName%></li>
           <% });%>
  </url>
  </body>
</html>
